<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.farm"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.4">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22"/>

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 访问网络. 某些位置信息需要从网络服务器获取 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 访问WiFi状态. 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 修改WiFi状态. 发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 访问网络状态, 检测网络的可用性. 需要网络运营商相关信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="TencentMapSDK"
            android:value="ITNBZ-74OW3-FDK3D-3V6DX-RXX3J-RSFVP"/>

        <activity
            android:name="com.guide.Guide_List"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 农场主UI -->
        <activity android:name=".ui.NCZ_CostFragment_"/>
        <activity
            android:name=".ui.AddPlantObservation_"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.NCZ_SaleMap_"/>
        <activity android:name=".ui.MakeMap_"/>
        <activity android:name=".ui.MapUtils_"/>
        <activity android:name=".ui.CZ_MakeMap_MakeLayer_"/>
        <activity android:name=".ui.CreateOrder_"/>
        <activity android:name=".ui.AddOrderMap_"/>
        <activity android:name=".ui.Attendance_Map_"/>
        <activity android:name=".ui.OrderDetail_"/>
        <activity android:name=".ui.AddOrder_"/>
        <activity android:name=".ui.NCZ_ProductSale_"/>
        <activity android:name=".ui.NCZ_CZ_JobList_"/>
        <activity android:name=".ui.SelectorCommand_"/>
        <activity android:name=".ui.CommandDetail_Edit_"/>
        <activity android:name=".ui.CommandDetail_Show_"/>
        <activity android:name=".ui.Command_more_"/>
        <activity android:name=".ui.GcdDetail_"/>
        <activity android:name=".ui.AddStd_Cmd_Self_"/>
        <activity android:name=".ui.NCZ_CommandDetail_"/>
        <activity android:name=".ui.AddCommand_BZSC_"/>
        <activity android:name=".ui.NCZ_PQ_TodayCommand_"/>
        <activity android:name=".ui.NCZ_GddList_"/>
        <activity android:name=".ui.JobList_"/>
        <activity android:name=".ui.NCZ_PG_CommandList_"/>
        <activity android:name=".ui.NCZ_GrowthTreeActivity_"/>
        <activity android:name=".ui.NCZ_PQ_TodayJob_"/>
        <activity android:name=".ui.NCZ_CZ_CommandDetail_"/>
        <activity android:name=".ui.NCZ_PQ_TodayPlant_"/>
        <activity android:name=".ui.NCZ_ToDayPQ_"/>
        <activity android:name=".ui.NCZ_CZ_JobDetail_"/>
        <activity android:name=".ui.NCZ_MainActivity_"/>
        <activity android:name=".ui.AddPlant_"/>
        <activity android:name=".ui.EditPlant_"/>
        <activity android:name=".ui.ShowPlant_"/>
        <activity android:name=".ui.AddStandardCommand_"/>
        <activity android:name=".ui.NCZ_CommandDetailList_"/>
        <activity android:name=".ui.AddNotProductCommand_"/>
        <activity android:name=".ui.AddNotStandardCommand_"/>
        <activity android:name=".ui.GrowthTree_"/>
        <activity android:name=".ui.GoodList_"/>
        <activity android:name=".ui.AddSpecialCost_"/>
        <activity android:name=".ui.SpecialCostDetail_"/>
        <activity android:name=".ui.LargeCostDetail_"/>
        <activity android:name=".ui.SmallCostDetail_"/>
        <activity android:name=".ui.SaleList_"/>
        <activity android:name=".ui.LargeSaleDetail_"/>
        <activity android:name=".ui.SmallSaleDetail_"/>
        <activity android:name=".ui.MainSaleDetail_"/>
        <activity android:name=".ui.NCZ_CZ_TodayCommand_"/>
        <activity android:name=".ui.ProductBatchList_"/>
        <activity android:name=".ui.ProductBatchDetailList_"/>
        <activity android:name=".ui.DaoGangList_"/>
        <activity android:name=".ui.Common_CommandDetail_Show_"/>
        <activity android:name=".ui.WeatherActivity_"/>
        <activity android:name=".ui.AssessList_"/>
        <activity android:name=".ui.RecordList_"/>
        <activity android:name=".ui.EveryDayAssessList_"/>
        <activity android:name=".ui.AddAssess_"/>
        <activity android:name=".ui.NCZ_CZ_ToDayJob_"/>
        <activity android:name=".ui.NCZ_CZ_ToDayPlant_"/>
        <activity android:name=".ui.SingleGoodList_"/>
        <activity android:name=".ui.SingleGoodInvoicingList_"/>
        <activity android:name=".ui.ShowPlantGrowth_"/>
        <activity android:name=".ui.EditUserInfo_"/>
        <activity android:name=".ui.AddPlantObservationRecord_"/>
        <activity android:name=".ui.Ncz_wz_ll_"/>
        <activity android:name=".ui.NCZ_WZ_XXList_"/>
        <activity android:name=".ui.NCZ_WZ_CKWZActivity_"/>
        <activity android:name=".ui.NCZ_CKWZDetail_"/>
        <activity android:name=".ui.NCZ_WZ_PCDetail_"/>
        <activity android:name=".ui.NCZ_WZ_Detail_"/>
        <activity android:name=".ui.NCZ_WZ_RKDetail_"/>
        <activity android:name=".ui.NCZ_WZ_CKDetail_"/>
        <activity android:name=".ui.NCZ_WZ_YCDetail_"/>
        <activity android:name=".ui.NCZ_EventLookList_"/>
        <activity android:name=".ui.NCZ_EventHandleDetail_"/>

        <!-- 场长UI -->
        <activity android:name=".ui.CZ_MainActivity_"/>
        <activity android:name=".ui.CZ_PQ_TodayCommand_"/>
        <activity android:name=".ui.AddNotStd_Cmd_Self_"/>
        <activity android:name=".ui.AddNotProductCommand_CZ_"/>
        <activity android:name=".ui.CZ_GddList_"/>
        <activity android:name=".ui.CZ_PQ_CommandDetail_"/>
        <activity android:name=".ui.CZ_PQ_JobDetail_"/>
        <activity android:name=".ui.CZ_ToDayPQ_"/>
        <activity android:name=".ui.CZ_PQ_TodayJob_"/>
        <activity android:name=".ui.CZ_ChangeWeather_"/>
        <activity android:name=".ui.CZ_PG_Assess_"/>
        <activity android:name=".ui.CZ_PQ_TodayPlant_"/>
        <!-- 片管UI -->
        <activity android:name=".ui.PG_MainActivity_"/>
        <activity android:name=".ui.PG_PlantList_"/>
        <activity android:name=".ui.AddEvent_"/>
        <activity android:name=".ui.AddGcd_"/>
        <activity android:name=".ui.PG_AddEvent_"/>
        <activity android:name=".ui.PG_EventDetail_"/>
        <activity android:name=".ui.PG_AddHandle_"/>
        <!-- 共用UI -->
        <activity android:name=".ui.ObservationRecordActivity_"/>
        <activity android:name=".ui.GrowthTreeActivity_"/>
        <activity android:name=".ui.Register_StepTwo_"/>
        <activity android:name=".ui.Register_StepThree_"/>
        <activity android:name=".ui.Common_JobDetail_Assess_"/>
        <activity android:name=".ui.Common_JobDetail_Show_"/>
        <activity android:name=".ui.Register_StepOne_"/>
        <activity android:name=".ui.FindPassword_"/>
        <activity android:name=".ui.Common_PQYQCommandList_"/>
        <activity android:name=".ui.Map_NC_"/>
        <activity android:name=".ui.AnalysisProductActivity_"/>
        <activity android:name=".ui.AnalysisSaleActivity_"/>
        <activity android:name=".ui.AnalysisGoodActivity_"/>
        <activity android:name=".ui.ShowUserInfo_"/>
        <activity android:name=".ui.GuideViewActivity"/>
        <activity android:name=".ui.Login_"/>
        <activity
            android:name=".ui.GuideViewDoor"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.ChangePwd_"/>
        <activity android:name=".ui.ShowPhotos_"/>
        <activity android:name=".ui.Common_JobDetail_"/>
        <activity android:name=".ui.Common_SelectCommand_"/>
        <activity android:name=".ui.Common_AddSpontaneityWork_"/>
        <activity android:name=".ui.Common_MoreJob_"/>
        <activity android:name=".ui.Common_CommandFeedBack_"/>
        <activity android:name=".ui.Common_CommandDetail_"/>


        <!-- 服务 -->
        <service
            android:name="com.service.UpdateApk"
            android:exported="false">
        </service>
        <service
            android:name="com.service.SentNotify"
            android:exported="false">
        </service>
        <service
            android:name="com.service.LogService"
            android:exported="false">
        </service>
        <service
            android:name="com.service.SendExceptionInfoToSerer">
            android:enabled="true"
            android:process="system"
        </service>
        <!-- 其他UI -->
        <activity android:name=".ui.GuanYu_"/>
        <activity android:name=".ui.Helper_"/>
        <activity android:name=".ui.YiJianFanKui_"/>
        <activity android:name="com.media.RecordActivity"/>
        <activity android:name="com.media.HomeFragmentActivity"/>
        <activity android:name=".chart.ListViewMultiChartActivity"/>
        <activity
            android:name=".ui.AddStd_Cmd_"
            android:label="@string/title_activity_add_std__cmd">
        </activity>
        <activity
            android:name=".ui.AddNotStd_Cmd_"
            android:label="添加非标准生产指令">
        </activity>
        <activity
            android:name=".ui.Goods_"
            android:label="库存">
        </activity>
        <activity
            android:name=".ui.ObservationRecordActivity"
            android:label="@string/title_activity_observation_record">
        </activity>
    </application>

</manifest>
