<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.farm"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.4">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22"/>

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 访问网络. 某些位置信息需要从网络服务器获取 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 访问WiFi状态. 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 修改WiFi状态. 发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 访问网络状态, 检测网络的可用性. 需要网络运营商相关信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".app.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="TencentMapSDK"
            android:value="ITNBZ-74OW3-FDK3D-3V6DX-RXX3J-RSFVP"/>

        <activity
            android:name="com.guide.Guide_List"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 农场主UI -->
        <activity android:name=".ui.NCZ_CostFragment_"/>
        <activity
            android:name=".ui.AddPlantObservation_"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.NCZ_JobActivity_"/>

        <activity android:name=".ui.PG_GoodsUsedInCommand_"/>
        <activity android:name=".ui.NCZ_CommandActivity_"/>
        <activity android:name=".ui.NCZ_AssessActivity_"/>
        <activity android:name=".ui.NCZ_CommandProgress_"/>
        <activity android:name=".ui.NCZ_GoodsUsed_New_"/>
        <activity android:name=".ui.NCZ_GoodsUsed_"/>
        <activity android:name=".ui.PG_AssessActivity_"/>
        <activity android:name=".ui.NCZ_AgreementDetail_"/>
        <activity android:name=".ui.PG_JobFragment_"/>
        <activity android:name=".ui.PG_CommandActivity_"/>
        <activity android:name=".ui.PG_AssessContract_"/>
        <activity android:name=".ui.NCZ_AddNewCommand_"/>
        <activity android:name=".ui.PG_CommandProgress_"/>
        <activity android:name=".ui.PG_GoodsUsed_"/>
        <activity android:name=".ui.NCZ_GoodsDistribution_"/>
        <activity android:name=".ui.CZ_ContractBatchTimeBreakOff_"/>
        <activity android:name=".ui.NCZ_GoogdsManagerActivity_"/>
        <activity android:name=".ui.CZ_AreaBatchTimeBreakOff_"/>
        <activity android:name=".ui.CZ_SaleActivity_"/>
        <activity android:name=".ui.CZ_ContractBatchTimeSale_"/>
        <activity android:name=".ui.CZ_JobFragment_"/>
        <activity android:name=".ui.CZ_BreakOffActivity_"/>
        <activity android:name=".ui.NCZ_ContractBreakOffActivity_"/>
        <activity android:name=".ui.PG_SaleActivity_"/>
        <activity android:name=".ui.NCZ_ContractSaleActivity_"/>
        <activity android:name=".ui.NCZ_CreateNewOrder_"/>
        <activity android:name=".ui.NCZ_BreakOffActivity_"/>
        <activity android:name=".ui.CZ_OrderManager_"/>
        <activity android:name=".ui.PG_BreakOffActivity_"/>
        <activity android:name=".ui.NCZ_CustomerContract_"/>
        <activity android:name=".ui.NCZ_SaleModuleActivity_"/>
        <activity android:name=".ui.NCZ_FarmSaleData_"/>
        <activity android:name=".ui.RecoveryDetail_"/>
        <activity android:name=".ui.NCZ_AreaSaleData_"/>
        <activity android:name=".ui.NCZ_SaleInfor_"/>
        <activity android:name=".ui.CZ_DLFragment_"/>
        <activity android:name=".ui.CZ_MainActivity_New_"/>
        <activity android:name=".ui.PG_ListOfEvents_"/>
        <activity android:name=".ui.PG_GddList_"/>
        <activity android:name=".ui.PG_CKList_"/>
        <activity android:name=".ui.PQ_DLFragment_"/>
        <activity android:name=".ui.NCZ_CreateOrder_SelectProduct_"/>
        <activity android:name=".ui.NCZ_CreateOrder_SelectBatchTime_"/>
        <activity android:name=".ui.NCZ_CreateMoreOrder_"/>
        <activity android:name=".ui.NCZ_SaleChart_"/>
        <activity android:name=".ui.PG_MainActivity_New_"/>
        <activity android:name=".ui.NCZ_SaleActivity_"/>
        <activity android:name=".ui.NCZ_MainActivity_New_"/>
        <activity android:name=".ui.NCZ_FarmMapActivity_"/>
        <activity android:name=".ui.NCZ_MoreModule_"/>
        <activity android:name=".ui.NCZ_AnalysisModule_"/>
        <activity android:name=".ui.NCZ_MQActivity_"/>
        <activity android:name=".ui.NCZ_GZActivity_"/>
        <activity android:name=".ui.SearchAllInformation_"/>
        <activity android:name=".ui.NCZ_SJActivity_"/>
        <activity android:name=".ui.NCZ_SellOrderDetail_"/>
        <activity android:name=".ui.NCZ_CommandListActivity_"/>
        <activity android:name=".ui.NCZ_Finance_"/>
        <activity android:name=".ui.SpecialCostFragment_"/>
        <activity android:name=".ui.SmallCostFragment_"/>
        <activity android:name=".ui.LargeCostFragment_"/>
        <activity android:name=".ui.NCZ_CostModule_"/>
        <activity android:name=".ui.NCZ_FarmSale_"/>
        <activity android:name=".ui.CZ_EditOrder_"/>
        <activity android:name=".ui.CZ_OrderDetail_"/>
        <activity android:name=".ui.NCZ_DirectCreateOrder_"/>
        <activity android:name=".ui.NCZ_CreateOrder_"/>
        <activity android:name=".ui.NCZ_EditOrder_"/>
        <activity android:name=".ui.NCZ_OrderDetail_"/>
        <activity android:name=".ui.NCZ_OrderManager_"/>
        <activity android:name=".ui.AnalysisActivity_"/>
        <activity android:name=".ui.NCZ_NewSaleList_"/>
        <activity android:name=".ui.NCZ_FarmSale_BatchDetail_"/>
        <activity android:name=".ui.NCZ_SaleMap_"/>
        <activity android:name=".ui.MakeLayer_Farm_"/>
        <activity android:name=".ui.DisplayImage_"/>
        <activity android:name=".ui.Analysis_"/>
        <activity android:name=".ui.PG_HandleFragment_"/>
        <activity android:name=".ui.NCZ_HandleDetail_"/>
        <activity android:name=".ui.MapUtils_"/>
        <activity android:name=".ui.CZ_MakeMap_MakeLayer_"/>
        <activity android:name=".ui.CreateOrder_"/>
        <activity android:name=".ui.Attendance_Map_"/>
        <activity android:name=".ui.OrderDetail_"/>
        <activity android:name=".ui.AddOrder_"/>
        <activity android:name=".ui.NCZ_ProductSale_"/>
        <activity android:name=".ui.NCZ_CZ_JobList_"/>
        <activity android:name=".ui.SelectorCommand_"/>
        <activity android:name=".ui.CommandDetail_Edit_"/>
        <activity android:name=".ui.CommandDetail_Show_"/>
        <activity android:name=".ui.Command_more_"/>
        <activity android:name=".ui.GcdDetail_"/>
        <activity android:name=".ui.AddStd_Cmd_Self_"/>
        <activity android:name=".ui.NCZ_CommandDetail_"/>
        <activity android:name=".ui.AddCommand_BZSC_"/>
        <activity android:name=".ui.NCZ_PQ_TodayCommand_"/>
        <activity android:name=".ui.NCZ_GddList_"/>
        <activity android:name=".ui.JobList_"/>
        <activity android:name=".ui.NCZ_PG_CommandList_"/>
        <activity android:name=".ui.NCZ_GrowthTreeActivity_"/>
        <activity android:name=".ui.NCZ_PQ_TodayJob_"/>
        <activity android:name=".ui.NCZ_CZ_CommandDetail_"/>
        <activity android:name=".ui.NCZ_PQ_TodayPlant_"/>
        <activity android:name=".ui.NCZ_ToDayPQ_"/>
        <activity android:name=".ui.NCZ_CZ_JobDetail_"/>
        <activity android:name=".ui.NCZ_MainActivity_"/>
        <activity android:name=".ui.AddPlant_"/>
        <activity android:name=".ui.EditPlant_"/>
        <activity android:name=".ui.ShowPlant_"/>
        <activity android:name=".ui.AddStandardCommand_"/>
        <activity android:name=".ui.NCZ_CommandDetailList_"/>
        <activity android:name=".ui.AddNotProductCommand_"/>
        <activity android:name=".ui.AddNotStandardCommand_"/>
        <activity android:name=".ui.GrowthTree_"/>
        <activity android:name=".ui.GoodList_"/>
        <activity android:name=".ui.AddSpecialCost_"/>
        <activity android:name=".ui.SpecialCostDetail_"/>
        <activity android:name=".ui.LargeCostDetail_"/>
        <activity android:name=".ui.SmallCostDetail_"/>
        <activity android:name=".ui.SaleList_"/>
        <activity android:name=".ui.LargeSaleDetail_"/>
        <activity android:name=".ui.SmallSaleDetail_"/>
        <activity android:name=".ui.MainSaleDetail_"/>
        <activity android:name=".ui.NCZ_CZ_TodayCommand_"/>
        <activity android:name=".ui.ProductBatchList_"/>
        <activity android:name=".ui.ProductBatchDetailList_"/>
        <activity android:name=".ui.DaoGangList_"/>
        <activity android:name=".ui.Common_CommandDetail_Show_"/>
        <activity android:name=".ui.WeatherActivity_"/>
        <activity android:name=".ui.AssessList_"/>
        <activity android:name=".ui.RecordList_"/>
        <activity android:name=".ui.EveryDayAssessList_"/>
        <activity android:name=".ui.AddAssess_"/>
        <activity android:name=".ui.NCZ_CZ_ToDayJob_"/>
        <activity android:name=".ui.NCZ_CZ_ToDayPlant_"/>
        <activity android:name=".ui.SingleGoodList_"/>
        <activity android:name=".ui.SingleGoodInvoicingList_"/>
        <activity android:name=".ui.ShowPlantGrowth_"/>
        <activity android:name=".ui.EditUserInfo_"/>
        <activity android:name=".ui.AddPlantObservationRecord_"/>
        <activity android:name=".ui.Ncz_wz_ll_"/>
        <activity android:name=".ui.NCZ_WZ_XXList_"/>
        <activity android:name=".ui.NCZ_WZ_CKWZActivity_"/>
        <activity android:name=".ui.NCZ_CKWZDetail_"/>
        <activity android:name=".ui.NCZ_WZ_PCDetail_"/>
        <activity android:name=".ui.NCZ_WZ_Detail_"/>
        <activity android:name=".ui.NCZ_WZ_RKDetail_"/>
        <activity android:name=".ui.NCZ_WZ_CKDetail_"/>
        <activity android:name=".ui.NCZ_WZ_YCDetail_"/>
        <activity android:name=".ui.NCZ_EventLookList_"/>
        <activity android:name=".ui.NCZ_EventHandleDetail_"/>
        <activity android:name=".ui.NCZ_todaymyDetail_"/>
        <activity android:name=".ui.NCZ_Todayjob_Common_"/>
        <activity android:name=".ui.NCZ_Statistics_"/>
        <activity android:name=".ui.NCZ_GCDDetailActivity_"/>
        <activity android:name=".ui.NCZ_StatisticsDetail_"/>
        <activity android:name=".ui.NCZ_EventDatails_"/>
        <activity android:name=".ui.NCZ_DLdatail_"/>
        <activity android:name=".ui.DongtaiListview_"/>
        <activity android:name=".ui.AddNotStd_Cmd_new_"/>
        <activity android:name=".ui.NCZ_CreateNewFarmOrder_"/>
        <activity android:name=".ui.NCZ_DD_SH_Detail_"/>
        <activity android:name=".ui.NCZ_NewOrderDetail_"/>
        <activity android:name=".ui.PG_Need_Orderdetail_"/>
        <activity android:name=".ui.NCZ_Need_JSD_"/>
        <activity android:name=".ui.NCZ_NewYc_detail_"/>
        <activity android:name=".ui.JSD_Detail_"/>
        <activity android:name=".ui.PG_JSD_Detail_"/>
        <activity android:name=".ui.NCZ_All_OneOrder_Detail_"/>
        <activity android:name=".ui.NCZ_Look_JSD_Detail_"/>
        <activity android:name=".ui.NCZ_Look_JSD_"/>
        <activity android:name=".ui.NCZ_JSD_NeedList_"/>
        <activity android:name=".ui.NCZ__NeedOrder_Detail_"/>


        <!-- 场长UI -->
        <activity android:name=".ui.CZ_MainActivity_"/>
        <activity android:name=".ui.CZ_PQ_TodayCommand_"/>
        <activity android:name=".ui.AddNotStd_Cmd_Self_"/>
        <activity android:name=".ui.AddNotProductCommand_CZ_"/>
        <activity android:name=".ui.CZ_GddList_"/>
        <activity android:name=".ui.CZ_PQ_CommandDetail_"/>
        <activity android:name=".ui.CZ_PQ_JobDetail_"/>
        <activity android:name=".ui.CZ_ToDayPQ_"/>
        <activity android:name=".ui.CZ_PQ_TodayJob_"/>
        <activity android:name=".ui.CZ_ChangeWeather_"/>
        <activity android:name=".ui.CZ_PG_Assess_"/>
        <activity android:name=".ui.CZ_PQ_TodayPlant_"/>
        <activity android:name=".ui.CZ_CommandListActivity_"/>
        <activity android:name=".ui.CZ_JobActivity_"/>
        <activity android:name=".ui.CZ_MQActivity_"/>
        <activity android:name=".ui.CZ_CreateOrder_"/>
        <activity android:name=".ui.CZ_CreateOrder_SelectBatchTime_"/>
        <activity android:name=".ui.CZ_OrderManager_New_"/>
        <!-- 片管UI -->
        <activity android:name=".ui.PG_MainActivity_"/>
        <activity android:name=".ui.PG_PlantList_"/>
        <activity android:name=".ui.PG_AddGcd_"/>
        <activity android:name=".ui.AddEvent_"/>
        <activity android:name=".ui.AddGcd_"/>
        <activity android:name=".ui.PG_AddEvent_"/>
        <activity android:name=".ui.PG_EventDetail_"/>
        <activity android:name=".ui.PG_AddHandle_"/>
        <activity android:name=".ui.PQ_DLbjFragment_"/>
        <activity android:name=".ui.PG_CK_"/>
        <activity android:name=".ui.PG_WZ_CKDetail_"/>
        <activity android:name=".ui.PG_CKDetail_"/>
        <activity android:name=".ui.AddNotStd_Cmd_Self_new_"/>
        <activity android:name=".ui.PG_jobDetailNew_"/>
        <activity android:name=".ui.PG_cbfscore_"/>
        <activity android:name=".ui.PG_WorkOrder_"/>
        <activity android:name=".ui.PG_Workplan_"/>
        <activity android:name=".ui.PG_commdetail_"/>
        <activity android:name=".ui.PG_JSD_"/>
        <activity android:name=".ui.PG_JSD_CBH_"/>
        <activity android:name=".ui.PG_XS_Activity_"/>
        <activity android:name=".ui.PG_OrderManager_"/>
        <activity android:name=".ui.PG_EditOrder_"/>
        <activity android:name=".ui.PG_CreateOrder_"/>
        <activity android:name=".ui.PG_CreateOrder_SelectBatchTime_"/>
        <activity android:name=".ui.PG_SP_EditOreder_"/>
        <activity android:name=".ui.PG_CreateOrder_SelectProduct_"/>
        <activity android:name=".ui.Charge_Settlement_"/>
        <!-- 共用UI -->
        <activity android:name=".chart.BarChartActivity_"/>
        <activity android:name=".ui.ObservationRecordActivity_"/>
        <activity android:name=".ui.GrowthTreeActivity_"/>
        <activity android:name=".ui.Register_StepTwo_"/>
        <activity android:name=".ui.Register_StepThree_"/>
        <activity android:name=".ui.Common_JobDetail_Assess_"/>
        <activity android:name=".ui.Common_JobDetail_Show_"/>
        <activity android:name=".ui.Register_StepOne_"/>
        <activity android:name=".ui.FindPassword_"/>
        <activity android:name=".ui.Common_PQYQCommandList_"/>
        <activity android:name=".ui.Map_NC_"/>
        <activity android:name=".ui.AnalysisProductActivity_"/>
        <activity android:name=".ui.AnalysisSaleActivity_"/>
        <activity android:name=".ui.AnalysisGoodActivity_"/>
        <activity android:name=".ui.ShowUserInfo_"/>
        <activity android:name=".ui.GuideViewActivity"/>
        <activity android:name=".ui.Login_"/>
        <activity android:name=".ui.NC_Weater_"/>
        <activity
            android:name=".ui.GuideViewDoor"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.ChangePwd_"/>
        <activity android:name=".ui.ShowPhotos_"/>
        <activity android:name=".ui.Common_JobDetail_"/>
        <activity android:name=".ui.Common_SelectCommand_"/>
        <activity android:name=".ui.Common_AddSpontaneityWork_"/>
        <activity android:name=".ui.Common_MoreJob_"/>
        <activity android:name=".ui.Common_CommandFeedBack_"/>
        <activity android:name=".ui.Common_CommandDetail_"/>
        <activity android:name=".ui.Event_Process_"/>
        <activity android:name=".ui.DisplayImageOfLocal_"/>
        <activity android:name=".ui.Add_workPeopel_"/>


        <!-- 服务 -->
        <service
            android:name="com.service.UpdateApk"
            android:exported="false">
        </service>
        <service
            android:name="com.service.SentNotify"
            android:exported="false">
        </service>
        <service
            android:name="com.service.LogService"
            android:exported="false">
        </service>
        <service
            android:name="com.service.SendExceptionInfoToSerer">
            android:enabled="true"
            android:process="system"
        </service>
        <!-- 其他UI -->
        <activity android:name=".chart.FinanceAnalysis_"/>
        <activity android:name=".chart.SaleAnalysis_"/>
        <activity android:name=".chart.GoodsAnalysis_"/>
        <activity android:name=".ui.GuanYu_"/>
        <activity android:name=".ui.Helper_"/>
        <activity android:name=".ui.YiJianFanKui_"/>
        <activity android:name="com.media.RecordActivity"/>
        <activity android:name="com.media.HomeFragmentActivity"/>
        <activity android:name=".chart.ListViewMultiChartActivity"/>
        <activity android:name=".chart.GoodsAnalysisActivity_"/>
        <activity
            android:name=".ui.AddStd_Cmd_"
            android:label="@string/title_activity_add_std__cmd">
        </activity>
        <activity
            android:name=".ui.AddNotStd_Cmd_"
            android:label="添加非标准生产指令">
        </activity>
        <activity
            android:name=".ui.Goods_"
            android:label="库存">
        </activity>
        <activity
            android:name=".ui.ObservationRecordActivity"
            android:label="@string/title_activity_observation_record">
        </activity>
    </application>

</manifest>
